    <nav class="navbar is-primary has-text-centered" role="navigation" aria-label="main navigation">
      
      <div class="navbar-start">
        <h3 class="title is-4 navbar-item">
          Jank Chat
        </h3>
      </div>

      <div class="navbar-end is-flex is-justify-content-center">
        <div class="navbar-item">
          <a class="button is-rounded is-primary" href="/" >
            <small>Home</small> 
          </a>
        </div>
      </div>
      
    </nav>