<!DOCTYPE html>
<html>
  <%- include ('../partials/head.ejs', { pageTitle: 'Jank Chat - Chat'}) %>

  <body>
  <%- include ('../partials/navbar.ejs') %> 

    <main class="mt-4">
      <div class="columns p-1">

        <!-- COLUMN 1 -->
        <div class="column is-10" >
          <div class="card">
            <div class="p-1 content is-small" id="chat-messages" >
              <!-- MESSAGE LIST SHOWS BELOW  -->  
            </div>
            
              <!-- FORM START -->
            <form action="chat" id="chat_form">
              <footer class="card-footer">
                <div class="card-footer-item">
                  <div class="select is-small is-primary">
                    <select id="colour">
                      <option value="is-grey">Colour</option>
                      <option value="is-primary">Green</option>
                      <option value="is-danger">Red</option>
                      <option value="is-warning">Yellow</option>
                      <option value="is-info">Blue</option>
                    </select>
                  </div>
                  <div class="file is-small is-primary ml-1 is-centered">
                    <label class="file-label">
                      <input class="file-input" id="file-upload" type="file">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                      </span>
                    </label>
                  </div>
                  <input 
                  name='username' 
                  id="msg"
                  class="input is-primary is-small mx-1" 
                  type="text" 
                  placeholder="Enter message" 
                  required>
                  <button class="button is-primary is-small" type="submit">Send</button>
                </div>
              </footer>
            </form>
            <!-- FORM END -->
          </div>
        </div>
        
        <!-- COLUMN 2 -->
        <div class="column is-2">
          <div class="card content is-small">
            <div class="card-header p-1">
              <div>
                <span>
                  <p>Room name: <strong id="roomName"></strong></p>
                </span>
                <span>
                  <p>Total online: <strong id="userCount"></strong></p>
                </span>
              </div>
            </div>
            <div class="card-body p-1" id="userList">
              <!-- LIST OF USERS -->
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/script.ejs') %>
  </body>
</html>