<!DOCTYPE html>
<html>
  <%- include ('../partials/head.ejs', { pageTitle: 'Jank Chat'}) %>

  <body>
  <%- include ('../partials/navbar.ejs') %> 

    <main class="container mt-4">
      <div class="columns p-2">

        <!-- Card 1 -->
        <div class="column is-10 is-offset-1">
          <div class="card">
            <div class="card-content">
              <div class="content is-small">
                <h2>Free chat rooms: Chat online in coding rooms.</h2>
                <p>Start a live free chat online with other people from all over the world in one of our communities. All chat rooms are simple and easy to use with no registration. Chat about anything you want with friends or random strangers and engage in a variety of topics and discussions.</p>
              </div>
            </div>

            <!-- FORM START -->
            <form action="chat">
              <footer class="card-footer">
                <div class="card-footer-item">
                  <div class="field">
                    <div class="control">
                      <div class="select is-primary">
                        <select name="room">
                          <option value="javascript">Javascript</option>
                          <option value="python">Python</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer-item">
                  <div class="control">
                    <input name='username' class="input is-primary" type="text" placeholder="Enter username" required>
                  </div>
                </div>
                <div class="card-footer-item">
                  <button class="button is-primary is-rounded is-fullwidth" type="submit">Join Chat</button>
                </div>
              </footer>
            </form>
            <!-- FORM END -->
          </div>
        </div>
        <!-- End of Card 1 -->

      </div>
    </main>

  </body>
</html>